.env
__pycache__/bot_shit.cpython-310.pyc
data.json
play.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
cogs/__pycache__/technical.cpython-310.pyc
cogs/__pycache__/listen.cpython-310.pyc
cogs/__pycache__/voting.cpython-310.pyc
logs.txt
.gitignore
